.middle-form {
    width: 100%;
    max-width: 350px;
    padding: 15px;
    margin: auto;
}

.middle-form .checkbox {
    font-weight: 400;
}

.middle-form .form-floating:focus-within {
    z-index: 2;
}

.middle-form input {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}